.container{
	width:auto;
	max-width:940px;
}
.lcontainer{
	width:100%;
	max-width:580px;
	display:inline-block;
}
#navbar{
	width:100%;
	height:52px;
	background-color:#ebebeb;
}
.rcontainer{
	display:inline-block;
	width:52px;
	float:right;
}
#searchicon {
	position: absolute;
	z-index:1;
	padding:9px 9px 9px 17px;
	margin-top:8px;
}
#listicon{
	z-index:1;
	padding:10px;
	margin-top: 7px;
	}
#GPS{
	width: 50px;
	float:right;
}
input {
	width: 100%;
	margin: 8px 0px 8px 8px;
	/*max-width: 100%;*/
}
input[type="text"]{
	padding: 15px 5px;
	text-indent: 25px;
}
